@charset "UTF-8"

 @font-face {
            font-family: "idroid";
            src: url(pacote-projeto-d010/fontes/idroid.otf) format(otf);
}
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-android: 'idroid', 'Segoe Script','Ink Free', italic;

}
*{
   margin: 0px;
   padding: 0px; 
}

body {
     font-family:var(--fonte-padrao);
     background-color:var(--cor0);  
}

a.externo::after{
    content: '\00a0\1F517';
}

header {
    text-align: center;
    font-weight: lighter;
    min-height: 150px;   
    background-image: linear-gradient(to top, var(--cor5), var(--cor2) 90%);
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    padding-bottom: 20px;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px #00000059;
    padding: 10px;
}
nav > a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
}
nav > a:hover {
    color: var(--cor2);
    background-color: var(--cor4);
    border-radius: 5px;
    font-weight: normal;
    transition-duration: 0.1s;

}
nav > a:active {
    color: #baf2bb;
}
main {
    background-color: white;
    color: black;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor0) , transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
    background-color: var(--cor4);
    padding-top: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
    color: #fefffe;
}

main img {
    width: 100%;
}
main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

footer {
    font-size: 0.8em;
    text-align: center;
    font-weight: lighter;
    color: white;
    background-color: var(--cor3);
    padding: 5px;
}

div.video {
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 58.5%;
}

div.video > iframe {
    position:absolute;
    top: 5%;
    left: 5%;
    width: 82.5%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px 0px 0px -10px;
    border-radius:10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0\00a0';
}

footer {
    padding: 20px;
}
footer a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

iframe {
      padding-left: 40px;
}