@charset "UTF-8"
/*CSS da tela*/
*{}
html,{
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.em;
}
menu >ul {
    background-color: rgb(78, 78, 78);
    list-style: none;
    
}
ul > li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(43, 43, 43);
    
}
header {
    background-color: rgb(124, 124, 124);
    color: white;
    padding: 40px;
    text-align: center;
}
header >h1 {
    text-align: center;
}
article {
    width: 400px;
    margin: auto;
}