@charset "UTF-8"

*{}
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: cornflowerblue;
}
main {
    background-color: violet;
}
main > article {
    max-width: 600px;
    height: auto;
    background-color: aliceblue;
    padding: 15px;
}
.inicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 100vh;
    
}
.art {

}